body {
    width: 800px; 
    margin: auto;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
}

img {
    width: 200px;
    height: 200px;
}



h1, h2 {
    text-align: center;
    font-family:  Tahoma, sans-serif; 
}

h1 {
    color: darkblue;
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    font-size: 3em;
    margin: 10px;
    padding: 10px;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: darkblue
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-weight:500;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: sans; color: whitesmoke;
    
}

div{
    border: 5px solid black;
    display: flex;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    margin: 10px; 
}


/*

background-image: url('images/phone_globe.jpeg');

@import url(https://fonts.googleapis.com/css?family=Oswald);
h1, h2{
    font-family: 'Oswald';
}  */